Node_red_flow.json
[{"id":"bb3969f5.faf638","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a0f9a5c.f0cdc6","type":"debug","z":"bb3969f5.faf638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":400,"wires":[]},{"id":"c67cbd6e.b0298","type":"Db2 out","z":"bb3969f5.faf638","Db2":"fd355ba6.ac89d8","service":"_ext_","table":"WATSONDATA","name":"","x":640,"y":280,"wires":[]},{"id":"2d753182.f84fee","type":"change","z":"bb3969f5.faf638","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":340,"wires":[["90a09507.82e538","70433679.4906b8","5b07903e.875bb"]]},{"id":"90a09507.82e538","type":"template","z":"bb3969f5.faf638","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"create table WATSONDATA\n(\n\"time\" integer\n\"HR\" float\n\"EDA\" float\n\"EDA_b\" integer\n\"EMG\" integer\n\"EMG_b\" integer\n\"Resp\" float\n\"Resp_b\" integer\n\"mean_t\" float\n\"std_t\" float\n\"mean_x\" float\n\"mean_y\" float\n\"mean_z\" float\n\"std_x\" float\n\"std_y\" float\n\"std_z\" float\n)","output":"str","x":460,"y":340,"wires":[["2a0f9a5c.f0cdc6","c67cbd6e.b0298"]]},{"id":"f921c66a.2cfdc8","type":"tcp in","z":"bb3969f5.faf638","name":"","server":"server","host":"","port":"","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":50,"y":340,"wires":[["2d753182.f84fee"]]},{"id":"aba82afe.24f8e8","type":"ui_chart","z":"bb3969f5.faf638","name":"","group":"89bfd092.f8bc18","order":0,"width":0,"height":0,"label":"Heart rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":480,"wires":[[]]},{"id":"5a709fe3.390e7","type":"debug","z":"bb3969f5.faf638","name":"","active":true,"console":"false","complete":"false","x":850,"y":520,"wires":[]},{"id":"ca0f4257.49f96","type":"ui_chart","z":"bb3969f5.faf638","name":"","group":"89bfd092.f8bc18","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":580,"wires":[[]]},{"id":"6891efcc.813bd","type":"debug","z":"bb3969f5.faf638","name":"","active":true,"console":"false","complete":"false","x":850,"y":620,"wires":[]},{"id":"58d7d563.bdc57c","type":"switch","z":"bb3969f5.faf638","name":"Warn on High Values","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":440,"wires":[["47a07dd5.736c94"]]},{"id":"47a07dd5.736c94","type":"template","z":"bb3969f5.faf638","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value Detected {{payload.HR}}","output":"str","x":1080,"y":440,"wires":[["ed7d27e4.2784c8"]]},{"id":"ed7d27e4.2784c8","type":"ui_toast","z":"bb3969f5.faf638","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1270,"y":440,"wires":[]},{"id":"4938bcad.408834","type":"switch","z":"bb3969f5.faf638","name":"Warn on High Values","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":680,"wires":[["1933fd44.fb9da3"]]},{"id":"1933fd44.fb9da3","type":"template","z":"bb3969f5.faf638","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value Detected {{payload.mean_T}}","output":"str","x":1080,"y":680,"wires":[["4b4e6437.3ecd4c"]]},{"id":"4b4e6437.3ecd4c","type":"ui_toast","z":"bb3969f5.faf638","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1270,"y":680,"wires":[]},{"id":"70433679.4906b8","type":"change","z":"bb3969f5.faf638","name":"Chart Heart rate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.HR","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":480,"wires":[["58d7d563.bdc57c","aba82afe.24f8e8","5a709fe3.390e7"]]},{"id":"5b07903e.875bb","type":"change","z":"bb3969f5.faf638","name":"Chart Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mean_T","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":600,"wires":[["ca0f4257.49f96","6891efcc.813bd","4938bcad.408834"]]},{"id":"fd355ba6.ac89d8","type":"Db2","hostname":"dashdb-txn-sbox-yp-lon02-15.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"89bfd092.f8bc18","type":"ui_group","name":"Line Chart Examples","tab":"642c5bf0.321384","order":1,"disp":true,"width":"8"},{"id":"642c5bf0.321384","type":"ui_tab","name":"Chart Examples","icon":"fa-area-chart","order":1}]